{% extends '/layouts/main.twig' %}
{% block title %} Пользователи {% endblock %}
{% block content %}
<div id="content">
<h1>Все пользователи</h1>
    {% for user in users.getItems %}
    <p>Имя: {{ user.name }}</p>
    <p>Логин: {{ user.login }} </p>
    <a href="/user/one/?id={{ user.id }}">Подробнее</a>
    <hr>
    {% endfor %}
    {% if users.getUrls() is not empty %}
        <p>Страницы</p>
        {% for page, urls in users.getUrls() %}
            <a href="{{ urls }}">{{ page }}</a>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
